In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import itertools as it

In [330]:
data = pd.read_csv('movie_bd_v5.csv')
data.head(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015

In [331]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [332]:
answers = {} # создадим словарь для ответов

def best(ser):
    return Counter(ser.apply(lambda x: tuple(x.split('|'))).values.sum()).most_common(1)[0][0]

data['profit'] = data['revenue'] - data['budget']
data['month'] = data['release_date'].apply(lambda x: x.split('/')[0])
data['len_name']= data['original_title'].str.len()
data['len_overview']= data['overview'].str.len()

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [333]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [334]:
answers['1'] = data[data['budget'] == data['budget'].max()]['original_title'].values[0]

ВАРИАНТ 2

In [335]:
answers['1'] = data.sort_values(['budget'],ascending=False).iloc[0]['original_title']

# 2. Какой из фильмов самый длительный (в минутах)?

In [336]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = data[data['runtime'] == data['runtime'].max()]['original_title'].values[0]

# 3. Какой из фильмов самый короткий (в минутах)?

In [337]:
answers['3'] = data[data['runtime'] == data['runtime'].min()]['original_title'].values[0]

# 4. Какова средняя длительность фильмов?

In [338]:
answers['4'] = data['runtime'].mean()

# 5. Каково медианное значение длительности фильмов?

In [339]:
answers['5'] = data['runtime'].median()

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [340]:
answers['6'] = data[data['profit'] == data['profit'].max()]['original_title'].values[0]

# 7. Какой фильм самый убыточный?

In [341]:
answers['7'] = data[data['profit'] == data['profit'].min()]['original_title'].values[0]

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [342]:
answers['8'] = data[data['profit'] >= 0].shape[0]

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [343]:
answers['9'] = data[(data['release_year'] == 2008)].sort_values(['revenue'],ascending=False).head(1)['original_title'].values[0]

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [344]:
answers['10'] = data[data['release_year'].between(2012,2014)].sort_values(['profit'])['original_title'].values[0]

# 11. Какого жанра фильмов больше всего?

In [345]:
answers['11'] = best(data['genres'])

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [346]:
answers['12'] = best(data[data['profit']>0]['genres'])


# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [347]:
data['director_person'] = data['director'].apply(lambda x: tuple(x.split('|')))
director_list = []
for i in range(len(data)):
    for j in data.iloc[i]['director_person']:
        director_list.append([j,data.iloc[i]['revenue']])
answers['13'] = pd.DataFrame(director_list).groupby(0).sum().sort_values(1,ascending = False)[1].index[0]

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [348]:
answers['14'] = best(data[data['genres'].str.contains('Action')]['director'])

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [349]:
actors = [data[data['release_year'] == 2012]['cast'].apply(lambda x: list(x.split('|'))),data[data['release_year'] == 2012]['revenue']]
temp_DF = pd.DataFrame(actors).T.explode('cast')
answers['15'] = temp_DF.groupby(['cast']).sum().sort_values(['revenue'],ascending = False).iloc[0]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [350]:
answers['16'] = best(data[data['budget'] > data['budget'].mean()]['cast'])

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [351]:
answers['17'] = best(data[data['cast'].str.contains('Nicolas Cage')]['genres'])

# 18. Самый убыточный фильм от Paramount Pictures

In [352]:
answers['18'] = data[data['production_companies'].str.contains('Paramount Pictures')].sort_values('profit')['original_title'].head(1)

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [353]:
answers['19'] = data.groupby('release_year')['revenue'].sum().sort_values(ascending = False).index[0]

# 20. Какой самый прибыльный год для студии Warner Bros?

In [354]:
answers['20'] = data[data['production_companies'].str.contains('Warner Bros')]\
    .groupby(['release_year'])['profit'].sum()\
    .sort_values(ascending = False).index[0]

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [355]:
answers['21'] = data['month'].value_counts().index[0]

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [356]:
answers['22'] = len(data[data['month'].isin(['6','7','8'])])

# 23. Для какого режиссера зима – самое продуктивное время года?

In [357]:
answers['23'] = best(data[data['month'].isin(['1','12','2'])]['director'])

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [358]:
answers['24'] = data[data['len_name'] == data['len_name'].max()]['production_companies']

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [359]:
temp_data1 = data['production_companies'].apply(lambda x: tuple(x.split('|')))
temp_data2 = pd.DataFrame([temp_data1 , data['len_overview']]).T\
                .explode('production_companies')
temp_data2['len_overview'] = temp_data2['len_overview'].apply(lambda x: x)
answers['25'] = temp_data2.groupby('production_companies')['len_overview']\
                .mean().sort_values(ascending = False).index[0]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [360]:
answers['26'] = data[data['vote_average']>np.percentile(data['vote_average'],99)]['original_title'].values

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [3]:
answers['27'] = Counter(data['cast']\
                        .apply(lambda x: tuple(it.combinations(x.split('|'),2)))\
                        .sum()).most_common()[0][0]

NameError: name 'data' is not defined

# Submission

In [4]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

NameError: name 'answers' is not defined

In [135]:
# и убедиться что ни чего не пропустил)
len(answers)

14